@import "tailwindcss";

:root {
  --background: var(--color-background);
  --foreground: var(--color-white);
}

@theme {
  --color-background: #0d1116;
  --color-foreground: #f2f2f2;
  --color-primary: #00c8c7;
  --color-secondary: #1e2a47;
  --color-white: #f2f2f2;
  --color-cool-grey: #b3b3b3;
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: #ededed;
  }
}

@layer base {
  html {
    font-feature-settings: "kern" 1, "liga" 1;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
